@import "colors";

[role="navigation"] {
	[role="logo"] {
		color: $color-text;
		font-size: 2rem;
		display: inline-block;
		margin-bottom: 0.5rem;
	}

	ul {
		display: flex;
		flex-direction: row;

		li {
			padding-right: 1em;

			&:not(:first-child):before {
				content: ' | ';
				display: inline-block;
				margin-right: 0.5rem;
			}
		}
	}
}