ul {
  margin-block-start: 0;
  margin-block-end: 0; }

nav ul {
  list-style: none;
  padding-inline-start: 0; }

body {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
  color: #252525; }

h1, h2, h3, strong {
  font-weight: 700; }

h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 2rem;
  margin: 0; }
  @media (min-width: 36rem) {
    h1 {
      font-size: 2.75rem; } }
h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.25rem; }

h3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem; }

p {
  line-height: 1.5; }

a {
  font-weight: 400;
  color: #213e9e;
  text-decoration: none;
  border-bottom: 0.1em solid transparent;
  transition-duration: 300ms;
  transition-property: border-bottom-color; }
  a:hover {
    border-bottom-color: rgba(33, 62, 158, 0.65); }

small a {
  color: #252525; }

[role="navigation"] [role="logo"] {
  color: #252525;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 0.5rem; }

[role="navigation"] ul {
  display: flex;
  flex-direction: row; }
  [role="navigation"] ul li {
    padding-right: 1em; }
    [role="navigation"] ul li:not(:first-child):before {
      content: ' | ';
      display: inline-block;
      margin-right: 0.5rem; }

article {
  width: 100%;
  display: flex;
  flex-direction: row; }

#doc-list [role="listitem"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

html {
  background: #fafafa; }

body {
  max-width: 44rem;
  margin: 0;
  padding: 1rem; }
  @media (min-width: 720px) {
    body {
      padding: 3rem; } }
  @media (min-width: 1024px) {
    body {
      margin: 5rem 0 0 5rem;
      padding: 0; } }
  body > main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column; }
    body > main header {
      margin-bottom: 2.75rem; }
